body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background: linear-gradient(to bottom, #87CEEB 0%, #B0E0E6 100%);
    font-family: Arial, sans-serif;
}

canvas {
    background: #87CEEB;
    display: block;
    margin-top: 20px;
    border: 2px solid #000;
}

h1 {
    margin-top: 20px;
    color: #01579b;
}

.score {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
}

#restartBtn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 8px;
    background-color: #4fc3f7;
    color: #fff;
    border: none;
    cursor: pointer;
}

    #restartBtn:hover {
        background-color: #0288d1;
    }
