/* reset & basic */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}
body {
  background: #fdf6fb;
  color: #333;
  min-height: 100vh;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, 440px);
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: calc(64px + 5rem);
}

main > .card {
  width: 440px;
  height: 174px;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
  background: #f7f7f7;
  border: 3px solid #000000;
}

main > .card:hover {
  transform: scale(1.03);
  box-shadow: 3px 6px 10px rgba(0,0,0,0.1);
}

main > .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
